body {
	margin: 0;
}

.buttons {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.container {
    margin: 3rem auto;
    width: 840px;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	border: solid black 2px;
}

.grid {
	aspect-ratio: 1 / 1;
	margin: 0;
	padding: 0;
}